Repository opiproject/opi-api, pull requests merged in 2022-08, with the labels that each got.

#66 security: Update security APIs
  security/proto/autogen.md
  security/proto/ipsec.pb.go
  security/proto/ipsec.proto
Labels: security

#67 security: Use UUID instead of int64 foR IDs
  security/proto/autogen.md
  security/proto/ipsec.pb.go
  security/proto/ipsec.proto
Labels: security

#77 storage: update storage diagram
  doc/images/API-Storage-Use-Case.png
Labels: Storage

#81 security: Update crypto and integrity algs
  security/proto/autogen.md
  security/proto/ipsec.pb.go
  security/proto/ipsec.proto
Labels: enhancement, security

#82 adding NVIDIA slides for port configuration NB API proposal
  doc/NVIDIA NB network API.pdf
Labels: documentation

#84 security: Add name to IPsecCreateRequest message
  security/proto/autogen.md
  security/proto/ipsec.pb.go
  security/proto/ipsec.proto
Labels: enhancement, security

#91 security: Add Diffie Hellman Groups
  security/proto/autogen.md
  security/proto/ipsec.pb.go
  security/proto/ipsec.proto
Labels: enhancement, security

#92 security: dhgroups not dhgroup
  security/proto/autogen.md
  security/proto/ipsec.pb.go
  security/proto/ipsec.proto
Labels: enhancement, security

#93 network: Marvell NB<->SB adaptor and SB Architecture
  doc/images/API-Network-Marvell.drawio.png
Labels: documentation

#94 security: Revamp security APIs
  security/proto/autogen.md
  security/proto/ipsec.pb.go
  security/proto/ipsec.proto
Labels: security

#95 security: Fix typo
  security/proto/autogen.md
  security/proto/ipsec.pb.go
  security/proto/ipsec.proto
Labels: security

#98 security: Flesh out IPsecListSas API
  security/proto/autogen.md
  security/proto/ipsec.pb.go
  security/proto/ipsec.proto
Labels: enhancement, security

#100 security: Fix IPsecListSasResp struct
  security/proto/autogen.md
  security/proto/ipsec.pb.go
  security/proto/ipsec.proto
Labels: enhancement, security

#97 storage: combine spec and readme
  doc/images/nvme-sub-ctrl-ns.png
  storage/README.md
  storage/spec.md
Labels: documentation, Storage

#103 security: Remove link to deleted spec
  security/README.md
Labels: security

#105 security: Add list-[conns,certs] APIs
  security/proto/autogen.md
  security/proto/ipsec.pb.go
  security/proto/ipsec.proto
Labels: enhancement, security

#106 security: Add missing bits
  security/proto/autogen.md
  security/proto/ipsec.pb.go
  security/proto/ipsec.proto
Labels: security

#107 security: Fix IPsecListConnsResp message
  security/proto/autogen.md
  security/proto/ipsec.pb.go
  security/proto/ipsec.proto
Labels: security
